* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/lone-phone.jpg');
  background-position: center;
  background-size: auto;
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add your desired text shadow values here */

}

.products {
  background-image: url('/images/car-travel.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add your desired text shadow values here */

}

.sign-up {
  background-image: url('/images/lady-bout-to-go.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add your desired text shadow values here */

}